<h2>Songs</h2>
<ul>
{{#each model as |song|}}
{{#link-to 'songs.show' song.id}}
  <li>{{song.title}}</li>
{{/link-to}}
{{/each}}
</ul>

<br />
<button>{{#link-to 'songs.new'}}Add Song{{/link-to}}</button>
