<h2>Labels</h2>
<ul>
{{#each model as |label|}}
{{#link-to 'labels.show' label.id}}
  <li>{{label.name}}</li>
{{/link-to}}
{{/each}}
</ul>

<br />
{{#link-to "labels.new"}}<button>Add Label</button>{{/link-to}}
