<h2>{{model.title}}</h2>
by {{#link-to 'artists.show' model.artist.id}}
     {{model.artist.name}}
   {{/link-to}}
<br />
<button {{action 'deleteAlbum' model}}>Delete Album</button>
<ul>
{{#each model.songs as |song|}}
  <li>
    {{#link-to 'songs.show' song.id}}
      {{song.title}}
    {{/link-to}}
  </li>
{{/each}}
</ul>
