<h1>FuturesMedia Coding Challenge</h1>
{{#link-to "labels.index"}}All Labels{{/link-to}} ||
{{#link-to "labels.new"}}Add Label{{/link-to}} ||
{{#link-to 'artists.new'}}Add Artist{{/link-to}}

<br /><br />
{{outlet}}
