<h2>Welcome to the FuturesMedia Ember Coding Challenge</h2>
<section>The purpose of this coding challenge is to build a simple CRUD app using Ember. Instead of having a back-end, local storage is used to mock the database. This app is also styled using Bootstrap Sass.</section><br />
<section>
  This app is a song app containing Labels, Artists, Albums, and Songs. An artist belongs to one label and can have many albums. An album can belong to one artist, and have many songs.
</section>
{{outlet}}
